body{
    background-color: lightblue;
    background-image: url("scheep.png");
}

.item1 {grid-area: header;}
.item2 {grid-area: menu;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

/*Header*/
.item1{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

/*List connected devices text*/
.item1 .lst-devices a{
    font-size: 20px;
    color: black;

    text-align: center;
}

/* change the h4 current devices text to normal*/
.item1 .lst-devices h4{
    font-weight:normal;
 }

/*List connected devices text when hovering above*/
.item1 .lst-devices a:hover{
    color: grey;
}

.item1 form{
    text-align: left;
}


/*Menu*/
.item2{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    text-align: left;
    max-height: 250px;
    overflow-y: scroll;
}

/*connected devices list */
.item2 > a{
    color:black;
    font-size:15px;
    display: block
}

/*Main*/
.item3{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 120px;
}

.item3 > a{
    background-color: darkgrey;
    color: black;
    padding: 10px;
    font-size: 20px;

    position: absolute;
    top: 20px;
    left: 20px;
}


/*Footer*/
.item4{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
